<% if obj.errors.any? %>
  <div class="card text-white bg-danger mb-3 mx-auto alert alert-dismissible" style="max-width: 725px;" role="alert">
    <div class="card-title">
      <h4><%= pluralize(obj.errors.count, "error") %> prohibited this article from being saved:</h4>
    </div>
    <div class="card-body">
      <ul>
        <% obj.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>