<h1>Cryptos Page</h1>

<% @cryptos.each do |crypto| %>
  Symbol: <%= link_to "#{crypto.symbol}", crypto %> <br>
  Created by: <%= crypto.user_id %> <br>
  Cost Per: $ <%= crypto.cost_per %> <br>
  Amount Owned: $ <%= crypto.amount_owned %><br>
<% end %>